body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background-color: #ac0303;
    border-radius: 15px;
    padding:20px;
    box-shadow: inset -8px 8px 5px rgba(255, 255, 255, 0.315), 5px -5px #b95050, -30px -20px 20px rgba(0, 0, 0, 0.445), inset 5px -5px 5px rgba(0, 0, 0, 0.445);
}

.sketch-area {
    background-color: white;
    padding: 4px;
}

.game-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}

#color {
    display: none;
}

.color-btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
}

button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: none;
    font-weight: bolder;
    font-size: larger;
    box-shadow: inset -3px -2px 1px rgba(0, 0, 0, 0.315), -3px -2px 1px rgba(0, 0, 0, 0.315);
}

button:active {
    box-shadow: inset -100vw -100vh rgba(0, 0, 0, 0.315);
}

.rgb-btn {
    background: linear-gradient(to right, red, orange, yellow, green, blue, violet);
    font-weight: bolder;
    font-size: large;
}